@font-face {
	font-family: "Barlow";
	src: url(../fonts/Barlow-Medium.woff2) format(woff2);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url(../fonts/Barlow-Regular.woff2) format(woff2);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
