@import url("reset.css");
@import url(fonts.css);

.blog {
	width: 100%;
	height: 100%;
}

.blog-container {
	margin-inline: 120px;
}

.development{
	background-color: #1E1E1F;
	max-width: 688px;
	max-height: 720px;
	padding: 32px;
	font-family: "Inter Display" , sans-serif;
	border-radius: 20px;
	margin-bottom: 10px;
}

.development h2{
	font-size: 14px;
	line-height: 1.42857143; /* 20/14 */
	color: #FFFFFF;
	letter-spacing: 0.56px;
	padding: 8px 16px;
	margin: 32px 0 20px 0;
	background: rgba(255, 255, 255, 0.05);
	display: inline-block;
	border-radius: 8px;
}

.development span {
	display: inline-block;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	color: rgba(255, 255, 255, 0.7);
	margin-left: 356px;
	margin-top: 40px;
}

.development span::before{
	content: "";
    background: url(../img/calendar.svg) 0 0 / auto no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
	margin-bottom: 4px;
}

.development p:nth-of-type(1) {
	color: #fff;
	font-size: 32px;
	line-height: 1.375; /* 44/32 */
	letter-spacing: -0.32px;
}

.small-paragraph {
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
}


.development a {
	font-size: 16px;
	display: inline-block;
	color: #fff;
	line-height: 1.5; /* 24/16 */
}

.development a::after {
	content: "";
    background: url(../img/arow.svg) center / auto no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    vertical-align: middle;
}

.blog__block {
	max-width: 482px;
	max-height: 238px;
	border-radius: 20px;
	background-color: #1E1E1F;
	padding: 32px 32px 26px 32px;
	margin-bottom: 30px;
	font-family: "Inter Display" , sans-serif;
}
.blog-block__title {
	display: inline-block;
	border-radius: 8px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 1.42857143; /* 20/14 */
	padding: 8px 16px;
	margin-bottom: 12px;
	letter-spacing: 0.56px;
	background: rgba(255, 255, 255, 0.05);
	text-transform: uppercase;

}
.blog-block__paragraph:nth-of-type(1) {
	font-size: 24px;
	letter-spacing: -0.24px;
	line-height: 1.33333333; /* 32/24 */
	color: #fff;
	margin-bottom: 12px;
}

.blog-block__paragraph:nth-of-type(2) {
	font-size: 16px;
	line-height: 1.50; /* 24/16 */
	color: rgba(255, 255, 255, 0.7);
}

.faq {
	width: 100%;
	height: 100%;
	font-family: "Inter Display" , sans-serif;
}
.faq-container {
	max-width: 1200px;
	max-height: 824px;
	font-family: "Inter Display" , sans-serif;
	padding: 104px 99px 124px 99px;
	background: #1E1E1F;
	margin: 0 auto;
}

.faq-title h3 {
	font-size: 52px;
	letter-spacing: -1.04px;
	line-height: 1.15384615; /* 60/52 */
	color: #fff;
	margin-bottom: 12px;
	text-align: center;
}

.faq-blocks__block {
	font-size: 20px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.06);
	padding-block: 24px;
	padding-left: 32px;
	border-radius: 16px;
	margin-bottom: 24px;
	line-height: 1.4; /* 28/20 */
}
