@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
	font-size: 55px;
}
h2 {
	font-size: 40px;
	text-decoration: underline;
}
section p mark {
	font-size: 30px;
}
p {
	font-size: 20px;
}
.css-font {
	font-family: "Roboto", sans-serif;
}
.html-font {
	font-family: "DM Sans", serif;
}
.local-font {
	font-family: "Ndot55", serif;
}
p span {
	font-family: 'Times New Roman', Times, serif;
	color: #000;
	text-decoration: underline;
}
.size-16 {
	font-size: 16px;
}
.size-24 {
	font-size: 24px;
}
.size-32 {
	font-size: 32px;
}
.text-normal {
	font-style: normal;
}
.text-italic {
	font-style: italic;
}
.text-oblique {
	font-style: oblique;
}
.weight-400 {
	font-weight: 400;
}
.weight-700 {
	font-weight: 700;
}
.weight-900 {
	font-weight: 900;
}
.color-red {
	color: red;
}
.color-green {
	color: green;
}
.color-blue {
	color: blue;
}
.color-pink {
	color: pink;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.align-justify {
	text-align: justify;
}
.underline {
	text-decoration: underline;
}
.overline {
	text-decoration: overline;
}
.line-through {
	text-decoration: line-through;
}
.underline-red {
	text-decoration: underline;
	text-decoration-color: red;
}
.line-through-wavy {
	text-decoration: line-through;
	text-decoration-style: wavy;
}
.shadow-right {
	text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
}
.shadow-left {
	text-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
}
.shadow-all {
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), -5px -5px 5px rgba(0, 0, 0, 0.5)
}
.red-shadow-top {
	text-shadow: 0px -5px 5px rgba(255, 0, 0, 0.5);
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.line-height-1 {
	line-height: 1;
}
.line-height-2 {
	line-height: 2;
}
.line-height-05 {
	line-height: 0.5;
}
.line-height-01 {
	line-height: 0.1;
}	
.letter-spacing-1 {
	letter-spacing: 1px;
}
.letter-spacing-2 {
	letter-spacing: 2px;
}
.letter-spacing-3 {
	letter-spacing: 3px;
}
.letter-spacing-05 {
	letter-spacing: 0.5px;
}
.word-spacing-normal {
	word-spacing: normal;
}
.word-spacing-nowrap {
	word-spacing: nowrap;
}
.ps {
	font-size: 14px;
	text-align: center;
}
.agrolink {
	font-family: "DM Sans", serif;
	font-weight: 400;
}
.agrolink-title {
	font-size: 50px;
	text-decoration: none;
	letter-spacing: -1.26px;
	color: #131313;
}
.agrolink-title span {
	color: #1AAF5B;
	font-weight: 700;
}
.agrolink p{
	font-size: 20px;
	color: #000;
	letter-spacing: -0.5px;
	line-height: 1.40; /* 28/20 */
}