@import url("reset.css");

.headline {
	color: blueviolet;
	font-size: 50px;
	text-align: center;
}

.to-main{
	background-color: #222314;
	color: aqua;
	max-width: 1200px;
	margin: 110px auto;
}


.to-main-item {
	color: aqua;
	font-size: 52px;
	text-align: center;
}

.to-main-item:hover{
	color: blue;
}

.transport-container {
	position: relative;
}

.transport-container div:first-child{
	background-color: red;
	width: 700px;
	height: 200px;
	position: absolute;
	top: 20px;
	left: 450px;
}

.transport-container div:first-child div{
	background-color: aqua;
	width: 400px;
	height: 160px;
	position: absolute;
	top: 20px;
	left: 150px;
	z-index: 1;
}

.transport-container div:nth-child(2) {
	width: 1100px;
	height: 250px;
	background-color: red;
	position: absolute;
	top: 220px;
	left: 250px;
}

.transport-container div:nth-child(2) div {
	background-color: yellow;
	height: 50px;
	width: 50px;
	top: 0;
	left: 1050px;
	z-index: 1;
}

.transport-container div:nth-child(3) {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: green ;
	border-radius: 50%;
	border: 10px solid #000;
	top: 325px;
	left: 350px;
}

.transport-container div:nth-child(4) {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: green ;
	border-radius: 50%;
	border: 10px solid #000;
	top: 325px;
	left: 1050px;
}